<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>URL Shortener</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/main.css" rel="stylesheet">
</head>
<body>

  <div class="wrapper">
    <div class="container text-center">
      <div id="main-container">
        <span class="glyphicon glyphicon-link" id="link"></span>
        <h1>URL Shortener</h1>
        
        <div class="row">  
          <div class="col-lg-12 col-md-12">
            <div class="input-group input-group-lg">

              <input type="text" class="form-control" id="url-input" aria-describedby="basic-addon3" placeholder="Paste URL Here">
              <span class="input-group-btn">
                <button class="btn" type="button" id="shorten-btn">Get me a new URL!</button>
              </span>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 text-center" id="new-url">
            <span id="short"></span>
          </div>

      </div>
      </div>

    </div>
  </div>


<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script src="javascript/main.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>