body {
	background-color: #304249;
}

h1 {
	color: white;
	margin-bottom: 1em;
}

ul {
	list-style: none;
	padding-left: 0;
}

li {
	margin: 1em;
}

#main-container {
	width: 80%;
	margin: 10% 10% 0 10%;
	text-align: center;
}

#link {
	font-size: 4em;
	color: white;
}

#shorten-btn {
	background-color: #ec5c25;
	transition: background-color 0.5s ease;
	margin-left: 1px;
}

#shorten-btn:hover,
#shorten-btn:active,
#shorten-btn:focus {
	background-color: #e24c15;
	outline: 0;
}

#url-list {
	margin-top: 2.5%;
	width: 80%;
	font-size: 1em;
	opacity: 0;
}

#new-url {
	margin-top: 2%;
}

#long, #count {
	color: white;
}

#short {
	color: #ec5c25; 
}

/* VueJS CSS */

.list-enter-active, .list-leave-active {
  transition: all 1.5s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}