body {
	background-color: darkslategray;
	text-align: center;
}

h1 {
	color: #FF8C00;
	margin-bottom: 1em;
}

#link {
	font-size: 4em;
	color: #FF8C00;
}

#new-url {
	margin-top: 15%;
	color: white;
	font-size: 2em;
	opacity: 0;
}

#shorten-btn {
	border: 2px solid #FF8C00;
	background-color: aliceblue;
	transition: background-color 0.5s ease;
}

#shorten-btn:hover,
#shorten-btn:active,
#shorten-btn:focus {
	background-color: #FF8C00;
	outline: 0;
}

.input {
	border: 2px solid #FF8C00;
}

.invalid-input {
	border-color: red !important;
}

#main-container {
	width: 80%;
	margin: 10%;
}

